.card{
    align-self: center;
    position: relative;
    width: 320px;
    min-height: 50px;
    padding: 20px;
    background-color:#fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 10px 1px #da923f7e;
}

.card::before{
    content: "";
    position: absolute;
    top: -30px;
    z-index: -41;
    left: -30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #ee33f193;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.inputContainer
{
    width: 100% ;
}

#ToDoContainer
{
    width: 100%;
    padding: 15px;
    background-color: #444343;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #000000 inset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color:antiquewhite;
}

.addMe{
    width: 100%;
    padding: 10px;
    background-color: #444343;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.itemsToDo
{
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 20px;
}

ul{
    padding-left: 10px;
    list-style-position: inside;
    font-size: 1.3rem;
    color: #444343;
}

li{
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 0 10px 1px #000000 inset;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: hsla(60, 10%, 25%, 0.822);
    border-bottom:3px solid #000;
}

li::marker{
    color: #444343;
}

li:hover{
    background-color: #444343;
    color: #fff;
    cursor: pointer;
}   

#close{
    color: orange;
    background-color: #fff;
    border: none;
    /* border-radius: 50%; */
    cursor: pointer;
    background-color: transparent;
}

@media only screen and (max-width:500px)
{
    .card{
        width: 90vw;
        top:0;
        left: 0;
}
}