.form
{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 350px;
    justify-content: space-evenly;
    padding: 0 30px;
    background-color: #ffffffa2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow:0 0 10px 10px #aaaa;
}

#inputContainer
{
  display: flex;
  justify-content: space-between;
}

.input , .operation{
  width: 100px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input{
  background-color: #00000096;
  box-shadow: 0 0 5px 1px #000000c9 inset;
}

.operation{
  width: 40%;
  background-color: #202020de;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;

}

.input::-webkit-inner-spin-button{
  display: none;
}

#buttonContainer{
  display: flex;
  justify-content: space-around;
  gap: 15px;
  row-gap: 20px;
  flex-wrap: wrap;

}

.calcButton{
  width: 100%;
  padding: 10px 0;
  height: 50px;
  background-color: rgba(15, 5, 5, 0.87);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  cursor: pointer;
}