#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#inputContainer , #inputContainer input{
  width: 300px;

}

#inputContainer input{
  padding: 10px;
}

#buttonContainer{
  display: flex;
  column-gap: 20px;
}

#imageContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap ;
  width: 500px ;
}

#imageContainer img{
  width: 50px;
  height: 50px;
}